html, body {
    margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;

	font-family: Helvetica;
}



th {
	background: #04E;
	color: #fff;
	padding: 0.125rem 1rem 0.125rem 1rem;
}
table.byrow th {
	text-align: right;
}
td {
	padding: 0rem 1rem 0rem 1rem;
}

/* 
.container {
  min-height: 100vh;
}
*/

nav {
    position: fixed;
    left: 0;
    z-index: 50;
    display: flex; 
    justify-content: space-around;
    flex-direction: column; 
    height: 100%;
    background: #027;
}

nav a {
    font-size: 40px;
    color: #fff;
    text-decoration: none;
    padding: 20px;
    text-align: center;
}

section {
	display: block;
	box-sizing:border-box;
    height: 0;
	min-width: 100%;
	padding: 0.1em 20px 0.1em 100px;
	z-index: 1;
	position: absolute;
	top: 0;
	opacity: 0;

} 

/* Styles applied on trigger */
section:target {
    min-width: 100%;
    min-height: 100%;
    z-index: 2;
	opacity: 1;
}

/*
section:target > div {
	padding-left: 80px; 
}
*/

.page_numbers {
    padding: 3px;
    font-size: large;
}

/* Change the width and height values if you want the video player to be a different size. */
video {
	height: 720px;
	width: 1280px;
}